<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">

  <!--
  WiX-based EXE bootstrap Installer for AI Dungeon 2: Clover Edition (using PyTorch)
  Developed by: Friendly /vp/oreon
  Installs the latest version of Clover Edition of AI Dungeon 2 into a given directory and autoinstalls all prerequisites, including Miniconda (Python 3.7) and related packages on Windows 7+ systems.
  Additionally includes support for GPU/CPU-based CUDA installations, accountless cuDNN install, automatic torrent download, and optional color in terminals.
  -->
  
  <?define BuildNumber = 1.4?>
  <?define UpgradeGUID = {95A99807-6641-413C-9595-9FA2BA83C2AB}?>
  
  <Bundle Name="!(loc.AppName)"
          Version="$(var.BuildNumber)"
          Manufacturer="!(loc.Developer)"
          UpgradeCode="$(var.UpgradeGUID)"
          IconSourceFile="$(var.AID2 Clover Edition Installer.ProjectDir)SourceFiles\icon.ico"
          Compressed="yes">

    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
      <bal:WixStandardBootstrapperApplication
        LicenseFile="$(var.ProjectDir)Assets\README.rtf"
        SuppressOptionsUI="yes"
        SuppressRepair="yes"
        LogoFile="$(var.ProjectDir)Assets\icon.png" />
    </BootstrapperApplicationRef>
    
    <!-- NT version 6.1 is at least Windows 7/Windows Server 2008 R2 -->
    <bal:Condition Message="!(loc.BuildMessage)">
      <![CDATA[VersionNT >= v6.1]]>
    </bal:Condition>

    <bal:Condition Message="!(loc.ArchitectureMessage)">
      <![CDATA[VersionNT64]]>
    </bal:Condition>
    
    <bal:Condition Message="!(loc.AdminMessage)">
      Privileged
    </bal:Condition>

    <!-- TODO: Make the serach some sort of wildcard, since Miniconda includes the version number in the key name -->
    <util:RegistrySearch
          Id="CheckForMinicondaInstallation64"
          Variable="MinicondaFoundx64"
          Result="exists"
          Win64="yes"
          Root="HKLM"
          Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\Miniconda3 py38_4.9.2 (Python 3.8.5 64-bit)"/>
    
    
		<Chain>
      <ExePackage Id="Miniconda3" SourceFile="$(var.ProjectDir)Assets\Miniconda3-latest-Windows-x86_64.exe" Compressed="yes" PerMachine="yes" InstallCondition="NOT MinicondaFoundx64" InstallCommand="/InstallationType=AllUsers /AddToPath=1 RegisterPython=1 /S /D=C:\Users\[LogonUser]\Miniconda3" />

      <RollbackBoundary Id="PostMiniconda3" />

      <MsiPackage Id="AID2CloverEdition" SourceFile="$(var.AID2 Clover Edition Installer.ProjectDir)bin\x64\Release\!(loc.LangaugeDirectory)\AID2-Clover-Edition-Installer.msi" Compressed="yes" Vital="yes" DisplayInternalUI="yes" />
		</Chain>
	</Bundle>
</Wix>
