<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">

  <!--
  WiX-based EXE bootstrap Installer for AI Dungeon 2: Clover Edition (using Pytorch)
  Developed by: Friendly /vp/oreon
  Last clone from GitHub: 6df09f9 {B5AB9D6A-67C7-447C-BD0B-A618CCC75588}
  Installs the Clover Edition of AI Dungeon 2 into a given directory and autoinstalls all prerequisites, including Miniconda (Python 3.7) and related packages on Windows 7+ systems.
  Additionally includes support for GPU/CPU-based CUDA installations, accountless cuDNN install, automatic torrent download, and optional color in terminals.
  -->
  
  <?define BuildNumber = 0.0.0.0?> <!-- Beta version to remain as 0.0.0.0 unless otherwise directed -->
  <?define UpgradeGUID = {62718F90-28CF-4B4C-B0A0-7B3598AD4456}?>
  
  <Bundle Name="!(loc.AppName_$(var.Platform))"
          Version="$(var.BuildNumber)"
          Manufacturer="!(loc.Developer)"
          UpgradeCode="$(var.UpgradeGUID)"
          IconSourceFile="$(var.AID2 Clover Edition Installer Beta.ProjectDir)SourceFiles\icon.ico"
          Compressed="yes">

    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
      <bal:WixStandardBootstrapperApplication
        LicenseFile="$(var.ProjectDir)Assets\README.rtf"
        SuppressOptionsUI="yes"
        LogoFile="$(var.ProjectDir)Assets\icon.png" />
    </BootstrapperApplicationRef>
    
    <!-- NT version 6.1 is at least Windows 7/Windows Server 2008 R2 -->
    <bal:Condition Message="!(loc.ArchitectureMessage)">
      <![CDATA[VersionNT >= v6.1]]>
    </bal:Condition>
    
    <bal:Condition Message="!(loc.AdminMessage)">
      Privileged
    </bal:Condition>

    <!-- TODO: Make the serach some sort of wildcard, since Anaconda includes the version number in the key name -->
    <?if $(var.Platform)=x64 ?>
    <util:RegistrySearch
          Id="CheckForMinicondaInstallation64"
          Variable="MinicondaFoundx64"
          Result="exists"
          Win64="yes"
          Root="HKLM"
          Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\Miniconda3 4.7.12 (Python 3.7.4 64-bit)"/>
    <?else?>
    <util:RegistrySearch
      Id="CheckForMinicondaInstallation86"
      Variable="MinicondaFoundx86"
      Result="exists"
      Win64="no"
      Root="HKLM"
      Key="SOFTWARE\WOW6432Node\Microsoft\Windows\CurrentVersion\Uninstall\Miniconda3 4.7.12 (Python 3.7.4 32-bit)"/>
    <?endif?>
    
    
		<Chain>
      <?if $(var.Platform)=x64 ?>
      <ExePackage Id="Miniconda3" SourceFile="$(var.ProjectDir)Assets\Miniconda3-latest-Windows-x86_64.exe" Compressed="yes" PerMachine="yes" InstallCondition="NOT MinicondaFoundx64" InstallCommand="/InstallationType=AllUsers /AddToPath=1 RegisterPython=1 /S /D=[ProgramFiles64Folder]Miniconda3" />
      <?else?>
      <ExePackage Id="Miniconda3" SourceFile="$(var.ProjectDir)Assets\Miniconda3-latest-Windows-x86.exe" Compressed="yes" PerMachine="yes" InstallCondition="NOT MinicondaFoundx86" InstallCommand="/InstallationType=AllUsers /AddToPath=1 RegisterPython=1 /S /D=[ProgramFilesFolder]Miniconda3" />
      <?endif?>

      <RollbackBoundary Id="PostMiniconda3" />

      <?if $(var.Platform)=x64 ?>
      <MsiPackage Id="AID2CloverEdition" SourceFile="$(var.AID2 Clover Edition Installer Beta.ProjectDir)bin\x64\Release\!(loc.LangaugeDirectory)\AID2-Clover-Edition-Installer-Beta.msi" Compressed="yes" Vital="yes" DisplayInternalUI="yes" />
      <?else?>
      <MsiPackage Id="AID2CloverEdition" SourceFile="$(var.AID2 Clover Edition Installer Beta.ProjectDir)bin\Release\!(loc.LangaugeDirectory)\AID2-Clover-Edition-Installer-Beta.msi" Compressed="yes" Vital="yes" DisplayInternalUI="yes" />
      <?endif?>  
		</Chain>
	</Bundle>
</Wix>
