<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <!--
  Components installer file
  Responsible for defining all files to be installed
  -->

  <Fragment>
    <ComponentGroup Id="RootFolderFiles" Directory="INSTALLFOLDER">
      <!-- Currently dummy, see Product.wxs -->
      <Component Id="icon.ico" Guid="{87E3AD0A-DB1D-4357-AD72-26301BB8F2D9}">
        <File Id="icon.ico" Source="$(var.ProjectDir)SourceFiles\icon.ico" KeyPath="yes" Checksum="yes" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="PytorchGPT2XLFiles" Directory="PytorchGPT2XLFolder">
      <Component Id="TorrentInfoFile" Guid="{89898195-94C0-4A99-B51E-02E94B45FC1C}">
        <File Id="TorrentInfoFile" Source="$(var.ProjectDir)SourceFiles\models\pytorch-gpt2-xl-aid2-v5\Everything from the torrent goes in here" KeyPath="yes" Checksum="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>

</Wix>
